name: Build

on: [ push, workflow_dispatch, workflow_call ]
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout project sources
                uses: actions/checkout@v6.0.2

            -   name: Setup Gradle
                uses: gradle/actions/setup-gradle@v5

            -   name: Verify everything is working fine
                run: ./gradlew test
